*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.carousel-container{
    margin-left: 300px;
    display: flex;
    flex-wrap: nowrap;
}

.wrapper-left{
    display: inline-block;
    width: 60%;
    height: 500px;
}

.wrapper-left .spiderman-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper-right{
    width: 40%;
    height: 500px;
    position: relative;
}

.wrapper-right img{
    object-fit: cover;
    height: 19.45%;
    width: 50%;
}

.first-slide{
    position: relative;
}

button{
    height: 30px;
    width: 30px;
}